# User-specific stuff
.idea
.iml
/agent-dialogue-core/dependency-reduced-pom.xml
/agent-dialogue-core/target/
/agent-dialogue-core/agent-dialogue-core.iml
/agent-dialogue-core/src/main/resources/
/web-simulator/target/
/web-simulator/dependency-reduced-pom.xml
/web-simulator/web-simulator.iml
/agent-dliaogue.iml
/.idea/
/Logs/
