# User-specific stuff
*.idea
*.iml
*.bat
*Logs/
*build/
*out/
*target/
*/gradlew
*/gradle
*/.gradle
/agent-dialogue-core/dependency-reduced-pom.xml
/agent-dialogue-core/src/main/resources/
/log-replayer/src/main/resources/
/log-replayer/dependency-reduced-pom.xml
/simulator/target/
/simulator/dependency-reduced-pom.xml
