# User-specific stuff
.idea
.iml
.bat
/agent-dialogue-core/dependency-reduced-pom.xml
/agent-dialogue-core/target/
/agent-dialogue-core/agent-dialogue-core.iml
/agent-dialogue-core/src/main/resources/
/agent-dialogue-core/Logs/
/log-replayer/src/main/resources/
/log-replayer/log-replayer.iml
/log-replayer/target/
/log-replayer/dependency-reduced-pom.xml
/log-replayer/Logs/
/web-simulator/.gradle/
/web-simulator/gradle/
/web-simulator/gradlew
/web-simulator/gradlew.bat
*/Logs
/Logs/