@media only screen and (max-width: 800px) {
    /* Tablets */
    .chat {
        width: 80%;
        padding: 0;
    }

    .right {
        width: 100%;
    }
    .alert-details-button {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 500px) {
    /* Mobile devices. */
    .main, .right {
        width: 100%;
    }
    .alert-details-button {
        font-size: 2vw;
    }
}

.main {
    text-align: center;
    overflow: auto;
    margin: 20px;
}

.main * {
    box-sizing: border-box;
}

.right {
    text-align: center;
    float: right;
    width: 35%;
}
.right * {
    border-radius: 2vw;
    margin: 7px;
}

.conversation-replayer {
    background-color: lightsalmon;
    padding: 10px 15px;
    margin-top: 7px;
}

.options {
    background-color: darksalmon;
    padding: 10px 15px;
    margin-top: 7px;
}

.conversation-details {
    background-color: lightsalmon;
    padding: 10px 15px;
    margin-top: 7px;
}

.alert-details-button {
    text-align: center;
    width: 5vw;
    min-width: 80px;
    padding: 1vw;
}

#language-form {
    margin-left: auto;
    margin-right: auto;
}

.chat {
    float: left;
    width: 65%;
    padding: 0 20px;
    overflow: hidden;
}

.text-input {
    text-align: center;
}

#message {
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    border-radius: 0.5vw;
}

.submit-button {
    width: 5vw;
    min-width: 80px;
    padding: 1vw;
    border-radius: 2vw;
}

#output {
    text-align: center;
    width: 75%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

#request {
    text-align: right;
}

#response {
    text-align: left;
}

.rating {
    text-align: center;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 3vw;
}

#rating-indicator {
    margin-left: 0.4vw;
    padding-left: 0.8vw;
}