body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    margin-left: auto;
    margin-right: auto;
    float: left;
    height: 90%;
}

.App-header {
    background-color: #ffcb95;
    height: 100px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 5vw;
}

.text-input {
    text-align: center;
}

#message {
    width: 900px;
    height: 30px;
    font-size: 14px;
}

.submit-button {
    width: 100px;
    padding: 10px;
}

#output {
    text-align: center;
    width: 75%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

#request {
    text-align: right;
}

#response {
    text-align: left;
}

.options {
    text-align: center;
    width: auto;
}

#language-fieldset {
    margin-left: auto;
    margin-right: auto;
}