:root {
    --header-top: rgb(245, 182, 113);
    --header-menu: rgb(255, 146, 46);
    --header-menu-active: rgb(253, 105, 37);
    --message-frame: rgb(255, 98, 0);
    --options: rgb(255, 146, 46);
    --menu-font-colour: rgb(255, 222, 207);
    --button-colour: white;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App-header {
    background-color: var(--header-top);
    height: 6vw;
    padding: 0.7vw;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
}

.App-logo {
    margin-left: auto;
    margin-right: auto;
    float: left;
    height: 6vw;
}

.App-title {
    font-size: 3vw;
    min-font-size: 0.6em;
    font-family: Courier New;
    text-align: center;
}


.functionality-menu {
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin: auto;
    background-color: var(--header-menu);
}

.functionality-menu li {
    display:inline;
    text-align: center;
    margin: auto;
    list-style-type: none;
}

.functionality-menu li a {
    display:inline-block;
    color: var(--menu-font-colour);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
}

.functionality-menu li a:hover:not(.active) {
    background-color: var(--header-menu);
}

.functionality-menu .active {
    background-color: var(--header-menu-active);
}