.user-details-form {
    background-color: darksalmon;
    padding: 10px 15px;
    margin-top: 7px;
}

#user-submit-button {
    width: 13vw;
}

#next-batch-button {
    width: 9vw;
}

.task-details {
    background-color: darksalmon;
    padding: 10px 15px;
    margin-top: 7px;
}

.tasks-list-block {
    background-color: #e9b647;
    padding: 10px 15px;
    margin-top: 7px;
}

#tasks-indicator {
    text-align: center;
    white-space: nowrap;
    margin: auto;
    width: 1.4vw;
}

#rating-interface-block {
    text-align: center;
    width: 75%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}


.tasks-list-block li {
    display:inline;
    text-align: center;
    margin: auto;
    list-style-type: none;
}

.tasks-list-block li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
}

.tasks-list-block li a:hover:not(.active) {
    background-color: #d57c1c;
}

.tasks-list-block .active {
    background-color: #b71115;
}