.user-details-form {
    background-color: darksalmon;
    padding: 10px 15px;
    margin-top: 7px;
}

.tasks-list-block {
    background-color: #e9b647;
    padding: 10px 15px;
    margin-top: 7px;

}